/* tag */
p {
    color:#ff9999;
}

/* id */
p#first {
    color:#4ee717;
    font-family: 'Arial';
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
}

/* class */
.aqua {
    color:#00ffff;
}

.center {
    text-align:center;
    background-color: aquamarine;
}