/* p {
    font-weight: bold;
    font-size: 20px;
    color: #ff9999;
    text-decoration: underline;
    line-height: 40px;
} */

ul li{
    display: inline-block;
    list-style-type: none;
    /* list-style-type: url('../Picture/Bim_bay.jpg'); */
}

p#first {
    margin-bottom: 50px;
    margin-left: 30px;
    border: 2px solid red;
    padding-top:10px;
    padding-bottom:30px;
    padding-right:20px;
    padding-left:50px;
}

#ex1 {
    background-color: rgba(138, 188, 159, 0.5);
    padding-left: 10%;
    padding-right: 38%;
}

#ex1 h1 {
    text-decoration: underline;
    text-align: center;
    color: #2e484c;
}

#ex1 p {
    text-align: justify;
    color: #325050;
}