#story-text {
    width: 40%;
    text-align: center;
}

#story-text p.font-description {
    font-size: 16px;
    color: white;
}

.contact-label {
    margin: 40px auto 20px;
    font-weight: bold;
}

.contact-number {
    display: block;
    font-size: 24px;
    margin-bottom: 40px;
    text-decoration: none;
    color: #E4C590;
}

#story-text a.btn {
    padding: 10px 20px;
}

#story-imgs {
    width: 40%;
}

.about-banner {
    position: relative;
    width: 100%;
    height: 80%;
    background-image: url("../images/abs1.jpg");
    background-size: cover;
}

.about-banner div {
    position: absolute;
}

.about-banner img{
    width: 100%;
}

.about-banner div#small {
    left: -100px;
    bottom: -100px;
    width: 250px;
}

.about-banner div#badge {
    right: 150px;
    top: -50px;
    width: 150px;
}



/*  */
/* .section {
    padding: 60px 0;
}

.about {
    position: relative;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.about-content {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-subtitle {
    font-size: 12px;
    color: #E4C590;
    font-weight: bold;
    text-transform: uppercase;
    margin-block-end: 12px;
}

.section-title {
    font-size: 63px;
    margin: 20px 0;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Forum', cursive;
}

.section-text {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
    font-weight: 400;
}


.contact-number {
    display: block;
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #E4C590;
}

  
.btn-primary {
    display: inline-block;
    padding: 12px 45px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 2px solid #E4C590;
    color: #E4C590;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #E4C590;
    color: black;
}

.shape {
    bottom: 20px;
    right: 20px;
}

/* Responsive adjustments */
/* @media (max-width: 1600px) {
    .section-title {
        font-size: 42px;
    }

    .section-text {
        font-size: 16px;
    }

    .contact-number {
        font-size: 22px;
    }

    .btn-primary {
        padding: 10px 20px;
    }

    .about-banner {
        max-width: 550px;
    }
}

@media (max-width: 1200px) {
    .section-title {
        font-size: 36px;
    }

    .section-text {
        font-size: 14px;
    }

    .contact-number {
        font-size: 20px;
    }

    .btn-primary {
        padding: 8px 16px;
    }

    .about-banner {
        max-width: 500px;
    }
}

@media (max-width: 992px) {
    .section-title {
        font-size: 32px;
    }

    .section-text {
        font-size: 12px;
    }

    .contact-number {
        font-size: 18px;
    }

    .btn-primary {
        padding: 6px 12px;
    }

    .about-banner {
        max-width: 450px;
    }

    .abs-img-1 {
        bottom: -100px;
        width: 200px;
    }

    .abs-img-2 {
        top: -60px;
        width: 120px;
    }
}

@media (max-width: 768px) {
    .section-title {
        font-size: 28px;
    }

    .section-text {
        font-size: 12px;
    }

    .contact-number {
        font-size: 16px;
    }

    .btn-primary {
        padding: 4px 8px;
    }

    .about-banner {
        max-width: 400px;
    }

    .abs-img-1 {
        bottom: -80px;
        width: 180px;
    }

    .abs-img-2 {
        top: -50px;
        width: 100px;
    }
}

@media (max-width: 576px) {
    .section-title {
        font-size: 24px;
    }

}  */