body {
    width: 100%;
    font-family: "DM Sans", sans-serif;
    color: white;
    background-color: #161718;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: "Forum", serif;
}
h1 {
    font-size: 90px;
}
h2{
    font-size: 52px;
    margin: 0 0 40px;
    text-align: center;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 25px;
    margin: 20px 0;
}
h5 {
    font-size: 21px;
}

section {
    padding: 100px 0;
}

.section-subtitle {
    font-size: 12px;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: #E4C590;
    font-weight: 600;
    margin: 0 0 12px;
    text-align: center;
}
p.section-subtitle::after {
    content: url(../images/separator.svg);
    display: block;
    width: 100px;
    margin: 20px auto;
}

.font-description {
    font-size: 14px;
    color: #A6A6A6;
    line-height: 1.4rem;
}