body {
    width: 100%;
    font-family: "DM Sans", sans-serif;
    color: white;
    background-color: #161718;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: "Forum", serif;
}
h1 {
    font-size: 6vw;
}
h2{
    font-size: 52px;
    margin: 0 0 40px;
    text-align: center;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 25px;
    margin: 20px 0;
}
h5 {
    font-size: 21px;
}

section {
    padding: 100px 0;
}

.section-subtitle {
    font-size: 12px;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: #E4C590;
    font-weight: 600;
    margin: 0 0 12px;
    text-align: center;
    line-height: 1.2rem;
}
p.section-subtitle::after {
    content: url(../images/separator.svg);
    display: block;
    width: 100px;
    margin: 20px auto;
}

.font-description {
    font-size: 14px;
    color: #A6A6A6;
    line-height: 1.4rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    background-color: #E4C590;
    color: black;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-decoration: none;
    border: none;
}
.btn:hover {
    background-color: #0e0d0c;
    color: white;
    border: 1.5px solid #E4C590;
    cursor: pointer
}


/* back-top button */
a#back-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #0E0D0B;
    background-color: #E4C590;
    padding: 15px;
    border-radius: 50%;
}
a#back-top:hover {
    background-color: white;
    color: #E4C590;
}