
/* ------- FOOTER  */
footer {
    background-image: url("../images/opacity_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

footer>div {
    position: relative;
    background-image: url("../images/footer-form-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    margin: 0 auto;
    background-color: #0E0D0B;
    padding: 50px 40px 100px;
    margin-bottom: 70px;
}

footer div .footer-sideborder {
    position: absolute;
    width: 15px;
    height: 100%;
    top: 0;
}
footer div .footer-sideborder:nth-child(1) {
    left: 0;
}
footer div .footer-sideborder:nth-child(2) {
    right: 0;
    transform: scaleX(-1);
}

footer div .footer-sideborder img {
    height: 100%;
}

footer div ul {
    margin: 20px 0 0px;
}

footer div ul.flex-container {
    justify-content: center;
    margin-bottom: 20px;
}

footer div ul.flex-container li{
    padding: 0 20px;
}

footer div ul li, li a{
    color: #A6A6A6;
    line-height: 2rem;
    text-decoration: none;
}
footer div ul li a:hover {
    color:#E4C590;
}

footer div .separator {
    height: 15px;
}

footer div h3 {
    font-size: 32px;
    margin: 20px 0 10px;
}

footer div form.flex-container {
    margin: 30px auto 0;
    justify-content: center;
}

footer div form input, button {
    height: 56px;
}

footer div form input {
    width: 380px;
    background-color: #1b1c1d;
    border: none;
    padding: 0 0 0 20px;
    color: white;
}

footer div form button.btn {
    width: 160px;
    margin: 0;
    padding: 0 20px;
}

footer>p {
    line-height: 2rem;
}

footer p a{
    color: #E4C590;
}

/* back-top button */
a#back-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #0E0D0B;
    background-color: #E4C590;
    padding: 15px;
    border-radius: 50%;
}

/* ------- RESPONSIVE  */

/* tablet view */
@media screen and (max-width: 1000px){

    footer>div {
        width:70%;
    }

    footer div form button.btn {
        margin: 20px 0 0;
    }
}

/* mobile view */
@media screen and (max-width: 500px){
    
}