body {
    width: 100%;
    font-family: "DM Sans", sans-serif;
    color: white;
    background-color: #161718;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: "Forum", serif;
}
h1 {
    font-size: 98px;
}
h2{
    font-size: 52px;
    margin: 0 0 40px;
}
h3 {
    font-size: 25px;
    margin: 20px 0;
}

section {
    padding: 100px 0;
}

.section-subtitle {
    font-size: 12px;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: #E4C590;
    font-weight: 600;
    margin: 0 0 12px;
}
p.section-subtitle::after {
    content: url(../images/separator.svg);
    display: block;
    width: 100px;
    margin-top: 10px;
}

.font-description {
    font-size: 14px;
    color: #A6A6A6;
    line-height: 1.4rem;
}

/* ------- OUR SERVICE  */
section#our_service {
    background-color: #0E0D0C;
    padding: 0;
}
.services{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-label {
    padding: 100px 5%;
    width: 40%;
    padding-right: 5%;
    text-align: center;
}
section#our_service p.section-subtitle::after {
    margin-left: calc(50% - 50px);
    margin-top: 20px;
}

section#our_service button {
    background-color: transparent;
    font-family: "Forum", serif;
    font-size: 16px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #A6A6A6;
    height: 40px;
    border: none;
    margin: 0 10px;
}
section#our_service button:hover {
    color: #E4C590;
    border-bottom: 1px solid #E4C590;
}

section#our_service .service-label>div {
    margin-top: 30px;
}

section#our_service .service-label>div p {
    line-height: 1.4rem;
    text-align: center;
}

section#our_service .service-label>div p:nth-child(2) {
    font-weight: bold;
    margin: 20px auto 10px;
}

.service-image {
    width: 50%;
}
.service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

/* ------- OUR STRENGTH  */
section#our_strength {
    text-align: center;
}
section#our_strength .section-subtitle::after {
    margin: 20px auto;
}

.strengths{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.strength{
    width: 20%;
    padding: 30px 2% 40px;
}
.strength:nth-child(odd) {
    background-color: #141515;
}
.strength:nth-child(even) {
    background-color: #121111;
}

/* ------- FOOTER  */
footer {
    background-image: url("../images/opacity_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

footer>div {
    position: relative;
    background-image: url("../images/footer-form-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    margin: 0 auto;
    background-color: #0E0D0B;
    padding: 50px 40px 100px;
    margin-bottom: 70px;
}

footer div .footer-sideborder {
    position: absolute;
    width: 15px;
    height: 100%;
    top: 0;
}
footer div .footer-sideborder:nth-child(1) {
    left: 0;
}
footer div .footer-sideborder:nth-child(2) {
    right: 0;
    transform: scaleX(-1);
}

footer div .footer-sideborder img {
    height: 100%;
}

footer div ul {
    margin: 20px 0 0px;
}

footer div ul#social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

footer div ul#social li{
    padding: 0 20px;
}

footer div ul li, li a{
    color: #A6A6A6;
    line-height: 2rem;
    text-decoration: none;
}
footer div ul li a:hover {
    color:#E4C590;
}

footer div .separator {
    height: 15px;
}

footer div h3 {
    font-size: 32px;
    margin: 20px 0 10px;
}

footer div form {
    margin: 30px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer div form input, button {
    height: 56px;
}

footer div form input {
    width: 380px;
    background-color: #1b1c1d;
    border: none;
    padding: 0 0 0 20px;
    color: white;
}

footer div form button.section-subtitle {
    width: 160px;
    background-color: #E4C590;
    color: black;
    border: none;
    margin: 0;
    padding: 0 20px;
}

footer>p {
    line-height: 2rem;
}

footer p a{
    color: #E4C590;
}

/* ------- RESPONSIVE  */

/* tablet view */
@media screen and (max-width: 1000px){
    .container {
        max-width: 90%;
    }
    
    .service-label {
        padding: 100px 5%;
        width: 90%;
    }

    .service-image {
        width: 100%;
    }

    .strength{
        width: 40%;
        margin-top: 20px;
    }

    footer>div {
        width:70%;
    }

    footer div form button.section-subtitle {
        margin: 20px 0 0;
    }
}

/* mobile view */
@media screen and (max-width: 450px){
    .strength{
        width: 100%;
    }
}