section#menu {
    text-align: center;
    padding-top: 0px;
}

.shape{
    max-width: max-content;
    position: absolute;
    z-index: -1;
    left: 0%;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    padding: 50px 0 0;
}

.menu-item img{       
    flex-shrink: 0;
    border-radius:24px;
}

.menu-item .info {
    padding-left: 5%;
    width: calc(95% - 100px)
}

.menu-item ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-family: "Forum", serif;
}

.menu-item .title {
    font-size: 21px;
    width: calc(100% - 40px);

    align-items: center;
    text-align: left;
    position: relative;
    display: flex;
}

.menu-item .title::after {
    display: block;
    content: "";
    height: 6px;
    flex-grow: 1;
    margin-block: 10px;
    border-block: 1px solid hsla(0, 0%, 100%, 0.2);;
    margin-inline: 10px;
}

.menu-item .badge {
    background-color: #E4C590;
    color: #161718;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu-item .price {
    font-size: 25px;
}

.menu-item .font-description {
    text-align: left;
}

/* ------- UPCOMING MENU */

section#upcoming {
    background-color: #0e0d0c;
}

.event-card {
    width: 30%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.event-card:hover, .event-card:focus-within {
    transform: scale(1.05);
}

.card-banner img {
    display: block;
    width: 100%;
    height: auto;
}

.publish-date {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #000000;
    color: #E4C590;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}

.card-content {
    position: absolute;
    bottom: 0;
    width: 100% - 40px;
    background: linear-gradient(0deg, rgb(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
    padding: 20px;
    text-align: center;
}

.card-subtitle {
    color: #E4C590;
    line-height: 1.5rem;
}

/* ------- RESPONSIVE  */

/* tablet view */
@media screen and (max-width: 1000px){
    .container {
        max-width: 90%;
    }
    
    .menu-item{
        width: 100%;
    }

    section#upcoming .flex-container {
        justify-content: space-around;
    }

    .event-card {
        width: 45%;
        margin-bottom: 5%;
    }
}

/* mobile view */
@media screen and (max-width: 500px){  
    .event-card {
        width: 100%;
    }  
}
