/* ------- RESPONSIVE  */

/* tablet view */
@media screen and (max-width: 1000px){
    .container {
        max-width: 90%;
    }

    div#topbar, .headeritem:nth-child(2), .headeritem:nth-child(3) {
        display: none;
    }

    .dropdown-menu {
        display: block;
    }
    
    section#top-notch .tops {
        justify-content: center;
    }
    
    section#top-notch .top {
        width: 45%;
    }
    section#top-notch .top:nth-child(1) {
        padding: 0 5% 0 0;
    }
    section#top-notch .top:nth-child(2) {
        padding: 0 0 0 5%;
    }
    
    .service-label {
        padding: 100px 5%;
        width: 90%;
    }

    .service-image {
        width: 100%;
    }

    section#reservation .form,section#reservation .contact {
        width: calc(100% - 120px);
    }

    .strength{
        width: 40%;
        margin-top: 20px;
    }

    footer>div {
        width:70%;
    }

    footer div form button.section-subtitle {
        margin: 20px 0 0;
    }
}

/* mobile view */
@media screen and (max-width: 450px){
    
    h1 {
        font-size: 10vw;
    }
    
    div#auto .description-text {
        font-size: 3vw;
    }

    div#auto div a {
        font-size: 2vw;
        padding: 5%;
    }
    section#top-notch .top {
        padding: 0 !important;
        width: 100%;
    }

    .strength{
        width: 100%;
    }
}